terraform {
  backend "azurerm" {
    storage_account_name = "productiondontdelete"
    container_name       = "tfstate"
    key                  = "prod.terraform.tfstate"
  }
}

resource "azurerm_storage_account" "productiondontdelete" {
  name                     = "productiondontdelete"
  resource_group_name      = "${azurerm_resource_group.{{ global.mgmt_env_name }}.name}"
  location                 = "{{ global.location }}"
  account_kind             = "StorageV2"
  account_tier             = "Standard"
  account_replication_type = "GRS"
  enable_blob_encryption   = true
  enable_https_traffic_only= true

  tags {
    environment = "production"
  }
}

resource "azurerm_storage_container" "tfstate" {
  name                  = "tfstate"
  resource_group_name      = "${azurerm_resource_group.{{ global.mgmt_env_name }}.name}"
  storage_account_name  = "${azurerm_storage_account.productiondontdelete.name}"
  container_access_type = "private"
}
