resource "azurerm_virtual_network" "{{ global.mgmt_env_name }}vnet" {
  name                = "{{ global.mgmt_env_name }}vnet"
  address_space       = ["{{ global.vnet_address_space }}"]
  location            = "{{ global.location }}"

  resource_group_name = "${azurerm_resource_group.{{ global.mgmt_env_name }}.name}"
  dns_servers = [{% for ip in global.vnet_dns_servers %}"{{ip}}"{% if not loop.last %}, {% endif %}{% endfor %}]
}

{% for env in environments %}
resource "azurerm_resource_group" "{{ env.name }}" {
  name     = "{{ env.name }}"
  location = "{{ global.location }}"
}

resource "azurerm_subnet" "{{ env.name }}sbnt" {
  name                 = "{{ env.name }}sbnt"
  network_security_group_id = "${azurerm_network_security_group.{{ env.name }}nsg.id}"
  resource_group_name  = "${azurerm_resource_group.{{ global.mgmt_env_name }}.name}"
  virtual_network_name = "${azurerm_virtual_network.{{ global.mgmt_env_name }}vnet.name}"
  address_prefix       = "{{ env.subnet_address_prefix }}"
}

resource "azurerm_network_security_group" "{{ env.name }}nsg" {
  name                = "{{ env.name }}nsg"
  location            = "{{ global.location }}"
  resource_group_name = "${azurerm_resource_group.{{ env.name }}.name}"
}

resource "azurerm_subnet_network_security_group_association" "{{ env.name }}sbntnsg" {
  subnet_id                 = "${azurerm_subnet.{{ env.name }}sbnt.id}"
  network_security_group_id = "${azurerm_network_security_group.{{ env.name }}nsg.id}"
}

{% endfor %}
