resource "azurerm_virtual_network" "{{ global.mgmt_env_name }}vnet" {
  name                = "{{ global.mgmt_env_name }}vnet"
  address_space       = ["{{ global.vnet_address_space }}"]
  location            = "{{ global.location }}"
  resource_group_name = "rg{{ global.mgmt_env_name }}"
  dns_servers = [{% for ip in global.vnet_dns_servers %}"{{ip}}"{% if not loop.last %}, {% endif %}{% endfor %}]
}

{% for env in environments %}
resource "azurerm_resource_group" "rg{{ env.name }}" {
  name     = "rg{{ env.name }}"
  location = "{{ global.location }}"
}

resource "azurerm_subnet" "{{ env.name }}sbnt" {
  name                 = "{{ env.name }}sbnt"
  resource_group_name  = "rg{{ env.name }}"
  virtual_network_name = "{{ global.mgmt_env_name }}vnet"
  address_prefix       = "{{ env.subnet_address_prefix }}"
}

{% endfor %}