{% set avsets_name = [] %}
{% for set in avsets %}
  resource "azurerm_availability_set" "{{ set.name }}avset" {
    name                         = "{{ set.name }}avset"
    location                     = "{{ global.location }}"
    resource_group_name   = "${azurerm_resource_group.{{ set.resource_group }}.name}"
    platform_fault_domain_count  = 2
    platform_update_domain_count = 2
    managed                      = true
}
  {{ avsets_name.append(set.name) if avsets_name.append(set.name) }}
{% endfor %}

{% for vm in vmlist %}
  resource "azurerm_virtual_machine" "{{ vm.name }}" {
    name                  = "{{ vm.name }}"
    location              = "${azurerm_resource_group.{{ vm.resource_group_name }}.location}"
    resource_group_name   = "${azurerm_resource_group.{{ vm.resource_group_name }}.name}"
    
    {% if vm.avset in avsets_name %}
      availability_set_id = "${azurerm_availability_set.{{ vm.avset }}avset.id}"
    {% endif %}    
    
    network_interface_ids = ["${azurerm_network_interface.{{ vm.name }}-nic1.id}"]
    vm_size               = "{{ vm.vm_size }}"
  
  storage_image_reference {
    {{ global[vm.os | default('rhel72') ] }}
  }
  storage_os_disk {
    name              = "{{ vm.name }}-osdisk"
    caching           = "ReadWrite"
    create_option     = "FromImage"
    managed_disk_type = "{{ vm.os_disk_managed_disk_type | default('Standard_LRS') }}"
    disk_size_gb         = {{ vm.os_disk_size | default('128') }}    
   
  }
  os_profile {
    computer_name  = "{{ vm.name }}"
    admin_username = "{{ vm.admin_username | default('c9admin') }}"
    admin_password = "{{ vm.admin_password | default('C9superC0mpl3x') }}"
  }
  {% if vm.os == "windows2016" or vm.os == "windows2012" %}
  os_profile_windows_config {
    provision_vm_agent = true
    enable_automatic_upgrades = true
  }
  {% else %}
  os_profile_linux_config {
    disable_password_authentication = false
    ssh_keys {
      path     = "/home/{{ vm.admin_username | default('c9admin') }}/.ssh/authorized_keys"
      key_data = "{{ global.c9admin_ssh_key }}"
    }
  }
  {% endif %}

}

resource "azurerm_network_interface" "{{ vm.name }}-nic1" {
  name                = "{{ vm.name }}-nic1"
  location            = "${azurerm_resource_group.{{ vm.resource_group_name }}.location}"
  resource_group_name = "${azurerm_resource_group.{{ vm.resource_group_name }}.name}"

  ip_configuration {
    name                          = "{{ vm.name }}ipcfg1"
    subnet_id                     = "${azurerm_subnet.{{ vm.resource_group_name }}sbnt.id}"
{% if vm.private_ip_address %}
    private_ip_address_allocation = "static"
    private_ip_address = "{{ vm.private_ip_address }}"
{% else %}
    private_ip_address_allocation = "dynamic"
{% endif %}
{% if vm.public_ip_address_allocation %}
    public_ip_address_id          = "${azurerm_public_ip.{{ vm.name }}-pubip1.id}"
{% endif %}
}
}
{% if vm.public_ip_address_allocation %}
resource "azurerm_public_ip" "{{ vm.name }}-pubip1" {
  name                         = "{{ vm.name }}-pubip1"
  location                     = "${azurerm_resource_group.{{ vm.resource_group_name }}.location}"
  resource_group_name          = "${azurerm_resource_group.{{ vm.resource_group_name }}.name}"
  public_ip_address_allocation = "{{ vm.public_ip_address_allocation }}"
}
{% endif %}

{% for disk in vm.data_disks %}
resource "azurerm_managed_disk" "{{ vm.name }}-disk{{loop.index}}" {
  name                 = "{{ vm.name }}-disk{{loop.index}}"
  location             = "${azurerm_resource_group.{{ vm.resource_group_name }}.location}"
  resource_group_name  = "${azurerm_resource_group.{{ vm.resource_group_name }}.name}"
  storage_account_type = "{{ disk.storage_account_type | default('Standard_LRS') }}"
  create_option        = "Empty"
  disk_size_gb         = {{ disk.size | default('128') }}
}

resource "azurerm_virtual_machine_data_disk_attachment" "{{ vm.name }}-disk{{loop.index}}" {
  managed_disk_id    = "${azurerm_managed_disk.{{ vm.name }}-disk{{loop.index}}.id}"
  virtual_machine_id = "${azurerm_virtual_machine.{{ vm.name }}.id}"
  lun                = "{{ loop.index }}"
  caching            = "ReadWrite"
}
{% endfor %}
{% if vm.extension %}
resource "azurerm_virtual_machine_extension" "{{ vm.name }}-{{ vm.extension.name }}" {
    name = "{{ vm.name }}-{{ vm.extension.name }}"
    location = "${azurerm_resource_group.{{ vm.resource_group_name }}.location}"
    resource_group_name   = "${azurerm_resource_group.{{ vm.resource_group_name }}.name}"
    virtual_machine_name = "{{ vm.name }}"
    publisher = "Microsoft.Compute"
    type = "CustomScriptExtension"
    type_handler_version = "1.9"

    settings = <<SETTINGS
    {
        "fileUris": {{ vm.extension.fileUris }},
        "commandToExecute": "{{ vm.extension.commandToExecute }}"
    }
    SETTINGS
}
{% endif %}
{% endfor %}
